@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h1>The Keeper of the reign</h1>
        <p>Work on progress!</p>

        <form>
            <div class="form-group">
                <label>Date</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>Location</label>
                <div><input class="form-control"/></div>
            </div>
            <div><input type="submit" value="Add" class="btn btn-success"/></div>
        </form>
    </div>
    <div class="col-md-6">
        <h2>The Map</h2>
    </div>
</div>
